.navbar-brand{
    color: white;
}
#hm{
    color: white;
}
#navbarDropdown{
    color: white;
}
.dropdown-menu{
    background-color: black;
}
#itm1{
    color: white;
}
#itm2{
    color: white;
}
#itm3{
    color: white;
}
#itm4{
    color: white;
}
#itm5{
    color: white;
}
#itm6{
    color: white;
}
#taref{
    color: aqua;
}