<div class="container">
<div class="row" id="l1">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/imagens/acDcFt.jfif" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <!--fecha col 1-->
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/imagens/ironMaidenFt.jfif" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <!--fecha col 2-->
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/imagens/matalicaFt.jfif" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <!--fecha col 3-->
</div>
<!--fecha row-->
<div class="row" id="l2">
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/pinkFloydFt.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<!--fecha col 1-->
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/queenFt.jfif" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<!--fecha col 2-->
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imagens/redHCPFt.jfif" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<!--fecha col 3-->
</div>
<!--fecha row-->
</div>